header.header
  section.header__wrapper.wrapper
    a.header__logo(href="")
      img(src="@img/logo.svg" alt="")
    .header__contacts
      a.contacts__phone(href="tel:+375292577007") +375 (29) 257-70-07
      a.contacts__mail(href="mailto:3577007by@gmail.com") 3577007by@gmail.com
      .contacts__language
        span.language__title RU
        .language__current
          span.flag
          span.arrow
        .language__flag
          a.rus(href="")
          a.bel(href="")
    .header__line
    navigation.header__navigation
      .navigation__link
        a(href="#") Все услуги
      .navigation__link Продвижение сайтов (SEO)
        ul.navigation__link 
          li
            a(href="#") Продвижение по позициям
          li
            a(href="#") Продвижение по лидам
          li
            a(href="#") Продвижение по трафику
          li
            a(href="#") Продвижение сайтов в Google
          li
            a(href="#") Продвижение сайтов в Яндекс
      .navigation__link Контекстная реклама
        ul
          li
            a(href="#") Контекстная реклама с оплатой за лиды
          li
            a(href="#") Контекстная реклама с фиксированной оплатой
          li
            a(href="#") Настройка контекстной рекламы в Яндекс.Директ
      .navigation__link Создание сайтов
        ul
          li
            a(href="#") Верстка сайтов
          li
            a(href="#") Администрирование сайтов
          li
            a(href="#") Доработка сайтов
          li
            a(href="#") Наполнение сайта
          li
            a(href="#") Разработка сайтов лендингов
          li
            .navigation__link Разработка сайтов CMS
              ul
                li
                  a(href="#") Разработка сайтов на WordPress
                li
                  a(href="#") Разработка корпоративных сайтов
          li
            a(href="#") Разработка сайтов визиток
          li
            a(href="#") Разработка сайтов портфолио
          li
            a(href="#") Разработка информационных сайтов
          li
            a(href="#") Разработка сайтов блогов
      div.navigation__link
        a(href="#") Медийная реклама
      .navigation__link Разработка дизайна
        ul
          li
            a(href="#") Редизайн сайта
          li
            a(href="#") Разработка баннеров
          li
            a(href="#") Создание логотипов
          li
            a(href="#") Разработка дизайна визиток
          li
            a(href="#") Дизайн сувенирной продукции
          li
            a(href="#") Разработка меню
          li
            a(href="#") Разработка дизайна упаковки
          li
            a(href="#") Разработка дизайна этикетки
          li
            a(href="#") Разработка дизайна листовок
          li
            a(href="#") Дизайн фирменных бланков
          li
            a(href="#") Разработка дизайна буклетов
          li
            a(href="#") Разработка дизайна брошюр
          li
            a(href="#") Разработка дизайна конвертов
          li
            a(href="#") Разработка дизайна презентации
          li
            a(href="#") Дизайн фирменного стиля
          li
            a(href="#") Разработка бренда
      .navigation__link
        a(href="#") Продвижение в соц сетях (SMM)
      .navigation__link
        a(href="#") О компании
