doctype html
html(lang="en")
  include pug/head
  body
    include pug/header
    include pug/slider
    include pug/coast
    include pug/portfolio
    include pug/reviews
    include pug/advantage
    include pug/team
    include pug/partners
    include pug/clients
    include pug/questions
    include pug/feedback
    include pug/footer
